@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,700);

body {
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 400;
	font-size: 11pt;
	background-color: #333;
}
* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

textarea,input,select,.code-box, .code-box * {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

.wrapper {
	width: calc(100% - 32px);
	padding: 16px;
	padding-top: 15px;
	min-width: 600px;
}
.wrapper .input-box, .wrapper .code-box {
	border: none;
	font-family: monospace;
	outline: none;
	transition: .25s;
	padding: 8px;
	white-space: pre;
	float: left;
	font-size: 10pt;
	line-height: normal !important;
	font-family: "Roboto Mono", monospace;
}
.wrapper .code-box {
	width: calc(100% - 66px) !important;
	overflow-y: auto;
	height: calc(100vh - 84px);
}
.wrapper .input-box {
	width: calc(100% - 50px) !important;
	background-color: #ccc;
	color: #555;
	height: calc(100vh - 68px);
}
.lines {
	height: calc(100vh - 76px) !important;
	float: left;
}
.wrapper .input-box:focus {
	outline: none;
	background-color: #fff;
	color: #000;
	transition: .25s;
}
.bottom-stuff {
	width: calc(100% - 200px);
	padding-top: 16px;
	float: left;
}
.file-info {
	text-shadow: 0px -1px 0px #000;
	display: inline-block;
	font-size: 8pt;
	padding-top: 4px;
}
.file-info .caption {
	padding-right: 32px;
	color: #C8E6C9;
}
.file-info .caption strong {
	padding-right: 8px;
	color: #BBDEFB;
	font-weight: 700;
}
select {
	background-color: #000;
	border: 0;
	border: 1px solid #666;
	color: #ccc;
}
.themes {
	display: inline-block;
	float: right;
	width: 184px;
	margin-top: 16px;
}
.code-box {
	color: #fff;
}

.sidebar {
	width: 184px;
	float: right;
	height: calc(100vh - 68px);
	background-color: #444;
	box-shadow: 0px 4px 10px rgba(0,0,0,0.66);
}
.sidebar .container {
	padding: 8px;
	height: calc(100% - 72px);
	overflow-y: auto;
}
.sidebar h1, .markdown-preview h1 {
	color: #fff;
	font-weight: 700;
	font-size: 14pt;
	padding-bottom: 4px;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.66);
	border-bottom: 1px solid #fff;
}
.sidebar .post {
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom: 1px dashed #999;
	text-shadow: 0px -1px 0px #000;
	font-size: 8pt;
	line-height: 12pt;
}
.sidebar .title {
	font-family: "Roboto Mono", monospace;
	font-weight: 700;
	color: #BBDEFB;
}
.sidebar .datetime {
	color: #C8E6C9;
}
.sidebar .type {
	color: #fff;
	font-size: 7pt;
	font-weight: 700;
}
.sidebar .post:hover {
	background-color: rgba(255,255,255,0.1);
}
a {
	text-decoration: none;
}
.buttons {
	text-align: center;
	height: 48px;
	line-height: 32px;
	background-color: #666;
	padding-top: 8px;
}
.button {
	font-weight: 700;
	font-size: 8pt;
	color: #fff;
	text-decoration: none;
	min-width: 70px;
	background-color: #3F51B5;
	display: inline-block;
	text-align: center;
	border-radius: 4px;
	text-transform: uppercase;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.66);
	padding-left: 4px;
	padding-right: 4px;
	transition: .25s;
}
.button:hover {
	background-color: #5C6BC0;
	transition: .25s;
}
.button:active {
	background-color: #7986CB;
}
.edit_button {
	background-color: #4CAF50 !important;
}
.edit_button:hover {
	background-color: #66BB6A !important;
}
.edit_button:active {
	background-color: #81C784 !important;
}


/**
 * jQuery Lined Textarea Plugin
 *   http://alan.blog-city.com/jquerylinedtextarea.htm
 *
 * Copyright (c) 2010 Alan Williamson
 *
 * Released under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * Usage:
 *   Displays a line number count column to the left of the textarea
 *   
 *   Class up your textarea with a given class, or target it directly
 *   with JQuery Selectors
 *   
 *   $(".lined").linedtextarea({
 *   	selectedLine: 10,
 *    selectedClass: 'lineselect'
 *   });
 *
 */

.linedtextarea {
	padding: 0px;
	margin: 0px;
}

.linedtextarea textarea, .linedwrap .codelines .lineno {
	font-size: 10pt;
	font-family: "Roboto Mono", monospace;
	line-height: normal !important;
}

.linedwrap .lines {
	margin-top: 0px;
	padding-top: 8px;
	width: 50px;
	float: left;
	overflow: hidden;
	background-color: #000;
}

.linedwrap .codelines {
	padding-top: 8px;
	color:#fff;
	padding-right: 4px;
	padding-top: 0;
	text-align: right;
	font-family: "Roboto Mono", monospace;
	font-size: 10pt;
	line-height: normal !important;
}

.linedwrap {
	width: calc(100% - 200px);
	height: calc(100vh - 68px);
	box-shadow: 0px 4px 10px rgba(0,0,0,0.66);
}